@use 'src/styles/colors';

.underlineButton {
  border-radius: 0;
  border-color: colors.$secondaryMain;
  border-bottom: 2px solid colors.$primaryMain;
  &:hover {
    border-bottom: 2px solid colors.$secondaryMain;
    border-radius: 0;
  }
}
