@use 'src/styles/colors';
@use 'src/styles/theme';

.iconLinkButton {
  &:hover {
    color: colors.$secondaryMain;
  }
}

.iconLinkButton {
  &:hover {
    color: colors.$secondaryMain;
  }
}

.iconButtonRoot {
  font-size: theme.spacing(5);
}
