$primaryLight: #5581a5;
$primaryMain:#2A628F;
$primaryDark: #224e72;

$secondaryLight: #e5be42;
$secondaryMain: #dfae13;
$secondaryMainDark: #b28b0f;
$secondaryLight80: #E4C61880;

$commonBlack: #000;
$commonWhite: #fff;
