// https://coolors.co/palettes/popular/#d34c51
$primaryBlueLight: #dc7074;
$primaryBlueMain: #d34c51;
$primaryBlueDark: #a93d41;
$secondaryOrangeMain: #453384;
$secondaryOrangeMain80: #45338480;
// $secondaryOrangeMain: #E08002;
// $secondaryOrangeMain80: #E0800280;
$secondaryOrangeLight: #6a5c9d;
$white: #fff;
